<ion-view view-title="Add Developer">
  <ion-content>

  <form ng-submit="insert()">
  	<div class="list">

		<label class="item item-input">
			<span class="input-label">Nickname: </span>
			<input type="text" ng-model="dataDev.nickname" placeholder="rogerin"></input>
		</label>
		<label class="item item-input">
			<span class="input-label">Phone: </span>
			<input type="text" ng-model="dataDev.phone" placeholder="(88)9943-4354"></input>
		</label>
		<button class="button button-block button-positive icon ion-person-add"> Cadastrar</button>

  	</div>
  	</form>
  	
  </ion-content>
</ion-view>


