 <ion-view view-title="Contact">
  <ion-content>
 	<div class="list">
 		 <img src="{{img}}" width="80" height="80" class="float-left"/><br>
   		 <h2>{{name}}</h2>
 		<label class="item item-input">
 			<span class="input-label">Nickname: </span>
 			<label ng-model="dev.nickname">{{dev.nickname}}</label>
 		</label>
 		<label class="item item-input">
 			<span class="input-label">Phone: </span>
 			<label ng-model="dev.phone">{{dev.phone}}</label>
 		</label>
 		
 </div>
  </ion-content>
</ion-view>

